.navbar-nav{
  font-family: 'Source Sans Pro', sans-serif;
}

.about-title-highlight{
  background-image:linear-gradient(0deg, #2377C266 30%,transparent 30%);
}

.teaching-title-highlight {
    background-image:linear-gradient(0deg, #CD6E0066 30%,transparent 30%);
}

.experience-title-highlight {
  background-image:linear-gradient(0deg, #D51D3D66 30%,transparent 30%);
}

.avatar-circle{
  border-radius: 5%;
}

.fa-envelope {
  color: #D51D3D;
}

.fa-twitter {
  color: #CD6E00;
}

.fa-github {
  color: #2377C2;
}

.fa-graduation-cap {
  color: #05AA5B;
}
